.message {
  color: forestgreen;
  background: lightcyan;
  font-size: 20px;
  border: 2px darkcyan solid;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.labeli {
    display: inline-block;
    min-width: 60px;
    padding: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.submitti {
    margin: 4px 0 0 75px;
}

tr {
    padding: 4px;
}
.nimisarake {
    background: antiquewhite;
    padding: 4px 10px;
    font-weight: bold;
}
.numerosarake {
    padding: 4px 10px;
}